.weather {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  &__header {
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__parameters {
    width: 100%;
    padding: 1rem;
  }

  &__inputs-grid {
    margin-inline: 1rem;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.2rem;
  }

  &__data {
    width: 100%;
    padding: 1rem;
  }

  &__button {
    width: fit-content;
    border: none;
    background-color: $highlight;
    cursor: pointer;

    &:hover {
      background-color: $hover;
    }

    &--disabled {
      pointer-events: none;
      background-color: $hover;
    }
  }

  &__input {
    border-radius: 0;
    border: solid 1px $highlight;
    background-color: $background;
    width: 100%;

    &:focus {
      outline: none;
      border-color: $hover;
    }

    &--disabled {
      pointer-events: none;
      color: $hover;
    }
  }
}

.resoults {
  &__all {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: left;
      gap: 1.5rem;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.4rem;
  }
}

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.not-allowed {
  cursor: not-allowed;
}

.mb1 {
  margin-bottom: 1rem;
}

.mi1 {
  margin-inline: 1rem;
}
